body{
    background-color: rgb(255, 255, 255)
}

.pageWrapper {
    border: 5px dotted rgb(78, 78, 78);
    padding: 20px;
}

.toTopWrapper{
    position: fixed;
    bottom: 10px;
    right: 10px;

}

.gridWrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
}


 #p5Wrapper{
    position: fixed;
    inset: 0;
    pointer-events: none;

}

